---
import { sanityClient } from "@/lib/sanity";
import Layout from "../layouts/Layout.astro";
import { siteConfigQuery } from "@/lib/queries";
import { PortableText } from "astro-portabletext";
import BracketHeader from "@/components/BracketHeader.astro";
import "../styles/page-fonts.css";

const data = await sanityClient.fetch(siteConfigQuery);
const { about } = data;

const links = [
  {
    name: "GitHub",
    url: "https://github.com/kennynumbertwo",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/kenny-tye-3559106b/",
  },
  {
    name: "Email",
    url: "mailto:kenny@destroybox.studio",
  },
];

const title = "About Kenny Tye";
const description =
  "About Me: I'm Kenny, a frontend developer from Los Angeles. I currently work for Bondfire Inc. as a software engineer building brand-focused e-commerce and marketing experiences.";
---

<Layout title={title} description={description}>
  <main
    class="flex flex-col h-full relative overflow-y-scroll px-4 pt-20 md:pt-25"
    x-reveal
  >
    <div class="mx-auto w-full max-w-[784px] pb-20">
      <BracketHeader text="About" />
      <div class="rte pb-10" x-reveal-children>
        <PortableText value={about} />
      </div>
      <h2 class="pb-3 text-20 tracking-6pc font-500">Links</h2>
      <ul class="flex flex-col pb-10 animate opacity-0" x-reveal-children>
        {
          links.map((link) => (
            <li class="opacity-0">
              <a
                href={link.url}
                class="hover:underline whitespace-nowrap text-14 leading-none -tracking-2pc font-mono"
                target="_blank"
                data-va-event="social_click"
                data-va-target={link.name}
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
      <p class="text-16 tracking-4pc animate opacity-0">
        This site was made with
        <a
          href="https://astro.build/"
          target="_blank"
          class="link-highlight z-10">Astro</a
        >,
        <a
          href="https://alpinejs.dev/"
          target="_blank"
          class="link-highlight z-10">Alpine JS</a
        >, and <a
          href="https://www.sanity.io/"
          target="_blank"
          class="link-highlight z-10">Sanity</a
        >
      </p>
    </div>
  </main>
</Layout>
