---
import { sanityClient } from "sanity:client";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { projectsQuery } from "@/lib/queries";

const data = await sanityClient.fetch(projectsQuery);
const filteredProjects = data.filter((project: any) => {
  if (project.images?.length > 0) {
    return project;
  }
});
---

<Layout title="Kenny Tye - Work">
  <main class="flex h-full max-w-screen pt-20 px-4" x-data="pageState()">
    <div class="grid grid-cols-5 gap-10">
      {
        filteredProjects.map((project: any) => {
          const image = project.images[0];
          return (
            <div class="">
              <Image
                src={image.url}
                alt={project.title}
                width={image.dimensions.width}
                height={image.dimensions.height}
              />
              <h2>{project.title}</h2>
              <p>{project.description}</p>
            </div>
          );
        })
      }
    </div>
  </main>
</Layout>

<style></style>
