---
import { Image } from "astro:assets";

interface Props {
  index: number;
  project: {
    client: string;
    date: string;
    employer: {
      name: string;
      website: string;
      type: string;
    };
    contribution: string;
    type: string;
    technologies: {
      name: string;
    }[];
    images: {
      url: string;
      alt: string;
      dimensions: {
        width: number;
        height: number;
      };
    }[];
  };
}

const { project, index } = Astro.props;
const { client, date, employer, contribution, type, technologies, images } =
  project;
---

<div
  x-data={`{ index: ${index} }`}
  x-show="activeProjectIndex === index"
  class="absolute w-full max-w-[1000px] para-lg top-16 px-5"
  x-transition:enter="transition ease-in-out duration-500"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in-out duration-500"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  x-cloak
>
  <div class="flex gap-x-2 pb-4">
    {
      images?.length >= 1 && (
        <div class="flex-1 w-full">
          <Image
            src={`${images[images.length - 1].url}?h=700&auto=format`}
            alt={images[images.length - 1].alt}
            width={images[images.length - 1].dimensions.width}
            height={images[images.length - 1].dimensions.height}
            class="w-full h-full object-cover rounded-lg shadow-md"
          />
        </div>
      )
    }
  </div>
  <div class="pb-6 uppercase">
    <h2 class="text-30 tracking-3pc font-700 opacity-80">{client}</h2>
    <span>Launched: {date}</span>
  </div>
  <div class="grid grid-cols-3">
    <div class="pb-8">
      <h3 class="uppercase font-700 opacity-80 tracking-3pc">Studio</h3>
      <div>
        <a class="underline" href={employer.website} target="_blank">
          {employer.name}</a
        > / {employer.type}
      </div>
    </div>
    <div class="pb-4">
      <h3 class="uppercase font-700 opacity-80 tracking-3pc">Contribution</h3>
      <p>{contribution}</p>
    </div>
    <div class="pb-4">
      <h3 class="uppercase font-700 opacity-80 tracking-3pc">Type</h3>
      <p>{type}</p>
    </div>
    <div class="col-span-3 pb-5">
      <h3 class="uppercase font-700 opacity-80 tracking-3pc pb-1">Tech</h3>
      <ul class="flex flex-wrap gap-1">
        {
          technologies.map((tech, idx) => (
            <li
              class="bg-black text-white px-2 py-0.5 opacity-0 font-mono"
              style={`animation-delay: ${idx * 50}ms;`}
              x-bind:class="activeProjectIndex === index ? 'animate-enter' : ''"
            >
              {tech.name}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style>
  .animate-enter {
    animation: fadeInUp 200ms ease-in-out forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
