<div
  x-data="orbContainer"
  class=""
  x-init="$watch('orbCount', value => generateOrb())"
>
  <template x-for="orb in orbs">
    <div
      x-data="orb"
      class="orb"
      :style="`top: ${orbPosY}px; left: ${orbPosX}px; width: ${orbSize}px; height: ${orbSize}px; background-color: ${orbColor}; opacity: ${orbOpacity}`"
      x-init="$watch('timer', value => updateOrb())"
      :key="orb.id"
    >
    </div>
  </template>
</div>

<style>
  .orb {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation: 2500ms ease-in-out orbIn;
  }
  @keyframes orbIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .userOrb {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation: 200ms ease-in-out userOrbIn;
  }
  @keyframes userOrbIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animateOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
