---
const { data } = Astro.props;
---

<div
  class="px-4 z-10 hidden md:block"
  style={{ minWidth: "var(--menu-width)" }}
  x-data={`{
    animateChildren(el) {
      const children = el.children;
      Array.from(children).forEach((child, index) => {
        child.style.animationDelay = \`\${index * 65}ms\`;
        child.classList.add('animate__fade-in');
      });
    }
  }
`}
  x-init="animateChildren($el)"
>
  <h2 class="pb-2 text-14 uppercase tracking-4pc font-700 opacity-0">
    Featured Work
  </h2>
  <ul x-init="animateChildren($el)">
    {
      data.map((item: any, index: number) => (
        <li class="opacity-0">
          <button
            class="text-left whitespace-nowrap text-14 leading-none -tracking-2pc font-mono hover:italic"
            x-bind:class={`{ 'italic': activeProjectIndex === ${index} }`}
            x-bind:aria-expanded={`activeProjectIndex === ${index}`}
            x-on:click={`handleProjectHover(${index})`}
            x-on:keydown.enter={`handleProjectHover(${index})`}
          >
            {item.title}
          </button>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .animate__fade-in {
    animation: fadeInUp 200ms cubic-bezier(0.59, 0.19, 0.29, 0.99) forwards;
  }
</style>
